# Virtual Environments
venv/
.venv/
env/
bin/
lib/
share/

# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment variables (security)
.env

# IDE specific (VSCode/PyCharm)
.vscode/
.idea/